---
permalink: /about/
layout: layouts/elementor.njk
title: "About &#8211; WalkerBuildingCorporation"
postId: 36
postTitle: "About &#8211; WalkerBuildingCorporation"
hasForm: true
postCssFiles:
  - { id: "elementor-post-36-css", href: "/assets/vendor/css/post-36-f51d0b.css" }
---

<div data-elementor-id="36" class="elementor elementor-36">
  <div
    class="elementor-element elementor-element-ba9c5cc e-flex e-con-boxed e-con e-parent"
    data-id="ba9c5cc"
    data-element_type="container"
    data-settings='{"background_background":"video","background_video_link":"\/assets\/vendor\/video\/About-Walker-Building-Corp.mp4","background_play_on_mobile":"yes"}'
  >
    <div class="e-con-inner">
      <div class="elementor-background-video-container">
        <video
          class="elementor-background-video-hosted"
          role="presentation"
          autoplay
          muted
          playsinline
          loop
        ></video>
      </div>
      <div
        class="elementor-element elementor-element-6794697 elementor-widget elementor-widget-heading"
        data-id="6794697"
        data-element_type="widget"
        data-widget_type="heading.default"
      >
        <div class="elementor-widget-container">
          <h2 class="elementor-heading-title elementor-size-default">ABOUT US</h2>
        </div>
      </div>
    </div>
  </div>
  <div
    class="elementor-element elementor-element-535369e e-flex e-con-boxed e-con e-parent"
    data-id="535369e"
    data-element_type="container"
  >
    <div class="e-con-inner">
      <div
        class="elementor-element elementor-element-4f73d6c e-con-full e-flex e-con e-child"
        data-id="4f73d6c"
        data-element_type="container"
      >
        <div
          class="elementor-element elementor-element-e306735 elementor-widget elementor-widget-image"
          data-id="e306735"
          data-element_type="widget"
          data-widget_type="image.default"
        >
          <div class="elementor-widget-container">
            <img
              decoding="async"
              width="800"
              height="680"
              src="/assets/vendor/img/Walker-Building-Corp-Service-Locations-1-1024x870.png"
              class="attachment-large size-large wp-image-24"
              alt=""
              srcset="
                /assets/vendor/img/Walker-Building-Corp-Service-Locations-1-1024x870.png 1024w,
                /assets/vendor/img/Walker-Building-Corp-Service-Locations-1-300x255.png   300w,
                /assets/vendor/img/Walker-Building-Corp-Service-Locations-1-768x653.png   768w,
                /assets/vendor/img/Walker-Building-Corp-Service-Locations-1.png          1531w
              "
              sizes="(max-width: 800px) 100vw, 800px"
            />
          </div>
        </div>
      </div>
      <div
        class="elementor-element elementor-element-2519ee7 e-con-full e-flex e-con e-child"
        data-id="2519ee7"
        data-element_type="container"
      >
        <div
          class="elementor-element elementor-element-d5c2cc4 elementor-widget elementor-widget-text-editor"
          data-id="d5c2cc4"
          data-element_type="widget"
          data-widget_type="text-editor.default"
        >
          <div class="elementor-widget-container">
            <p>
              WALKER BUILDING CORPORATION IS A MID-SIZED COMPANY SPECIALIZING IN EROSION CONTROL,
              STREET SWEEPING, AND LAND SERVICES. WE HAVE THE EQUIPMENT AND ABILITY TO TAKE ON LARGE
              PROJECT REQUESTS. WE ARE FULLY COMMITTED TO PROVIDING OUR CLIENTS WITH THE HIGHEST
              LEVEL OF PROFESSIONALISM, COMMUNICATION AND ATTENTION TO DETAIL. wE PRIDE OURSELVES ON
              OFFERING THE BEST CUSTOMER SERVICE AND PROVIDING OUR CUSTOMERS WITH INNOVATIVE
              SOLUTIONS TO THEIR UNIQUE PROBLEMS.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="elementor-element elementor-element-867b0f4 e-flex e-con-boxed e-con e-parent"
    data-id="867b0f4"
    data-element_type="container"
    data-settings='{"background_background":"classic"}'
  >
    <div class="e-con-inner">
      <div
        class="elementor-element elementor-element-faa970f elementor-widget elementor-widget-heading"
        data-id="faa970f"
        data-element_type="widget"
        data-widget_type="heading.default"
      >
        <div class="elementor-widget-container">
          <h2 class="elementor-heading-title elementor-size-default">LET'S GET STARTED</h2>
        </div>
      </div>
    </div>
  </div>
  <div
    class="elementor-element elementor-element-0314fe0 e-flex e-con-boxed e-con e-parent"
    data-id="0314fe0"
    data-element_type="container"
    data-settings='{"background_background":"classic"}'
  >
    <div class="e-con-inner">
      <div
        class="elementor-element elementor-element-47d7d6f e-con-full e-flex e-con e-child"
        data-id="47d7d6f"
        data-element_type="container"
      >
        <div
          class="elementor-element elementor-element-505e183 elementor-widget elementor-widget-text-editor"
          data-id="505e183"
          data-element_type="widget"
          data-widget_type="text-editor.default"
        >
          <div class="elementor-widget-container">
            <p>get in touch</p>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-b079a3e elementor-widget elementor-widget-heading"
          data-id="b079a3e"
          data-element_type="widget"
          data-widget_type="heading.default"
        >
          <div class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">send us a message</h2>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-c22d76c elementor-widget elementor-widget-text-editor"
          data-id="c22d76c"
          data-element_type="widget"
          data-widget_type="text-editor.default"
        >
          <div class="elementor-widget-container">
            <p>fill out the form, or click the button below to call us and schedule a service!</p>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-98b53bd elementor-widget elementor-widget-button"
          data-id="98b53bd"
          data-element_type="widget"
          data-widget_type="button.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-button-wrapper">
              <a
                class="elementor-button elementor-button-link elementor-size-sm"
                href="tel:3527712651"
              >
                <span class="elementor-button-content-wrapper">
                  <span class="elementor-button-text">Call Now</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-element elementor-element-0a6d11c e-con-full e-flex e-con e-child"
        data-id="0a6d11c"
        data-element_type="container"
      >
        <div
          class="elementor-element elementor-element-c5e1aaa elementor-button-align-start elementor-widget elementor-widget-form"
          data-id="c5e1aaa"
          data-element_type="widget"
          data-settings='{"step_next_label":"Next","step_previous_label":"Previous","button_width":"100","step_type":"number_text","step_icon_shape":"circle"}'
          data-widget_type="form.default"
        >
          <div class="elementor-widget-container">
            <form class="elementor-form" method="post" name="New Form" aria-label="New Form">
              <input type="hidden" name="post_id" value="36" />
              <input type="hidden" name="form_id" value="c5e1aaa" />
              <input type="hidden" name="referer_title" value="About" />

              <input type="hidden" name="queried_id" value="36" />

              <div class="elementor-form-fields-wrapper elementor-labels-above">
                <div
                  class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-50 elementor-field-required"
                >
                  <input
                    size="1"
                    type="text"
                    name="form_fields[name]"
                    id="form-field-name"
                    class="elementor-field elementor-size-sm  elementor-field-textual"
                    placeholder="full name"
                    required="required"
                  />
                </div>
                <div
                  class="elementor-field-type-tel elementor-field-group elementor-column elementor-field-group-email elementor-col-50 elementor-field-required"
                >
                  <input
                    size="1"
                    type="tel"
                    name="form_fields[email]"
                    id="form-field-email"
                    class="elementor-field elementor-size-sm  elementor-field-textual"
                    placeholder="phone number"
                    required="required"
                    pattern="[0-9()#&amp;+*-=.]+"
                    title="Only numbers and phone characters (#, -, *, etc) are accepted."
                  />
                </div>
                <div
                  class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-field_42ba7d3 elementor-col-100 elementor-field-required"
                >
                  <input
                    size="1"
                    type="email"
                    name="form_fields[field_42ba7d3]"
                    id="form-field-field_42ba7d3"
                    class="elementor-field elementor-size-sm  elementor-field-textual"
                    placeholder="Email"
                    required="required"
                  />
                </div>
                <div
                  class="elementor-field-type-textarea elementor-field-group elementor-column elementor-field-group-message elementor-col-100 elementor-field-required"
                >
                  <textarea
                    class="elementor-field-textual elementor-field  elementor-size-sm"
                    name="form_fields[message]"
                    id="form-field-message"
                    rows="4"
                    placeholder="how can we help you?"
                    required="required"
                  ></textarea>
                </div>
                <div
                  class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons"
                >
                  <button class="elementor-button elementor-size-sm" type="submit">
                    <span class="elementor-button-content-wrapper">
                      <span class="elementor-button-text">Send mESSAGE</span>
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
